<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1.注解驱动-->
    <mvc:annotation-driven/>

    <!--2.配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--静态资源权限开放-->
    <mvc:default-servlet-handler/>

    <!--组件扫描-->
    <context:component-scan base-package="com.peixin.controller"/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <!--拦截器执行是有顺序的，从上往下执行-->
        <!--第一个拦截器-->
        <mvc:interceptor>
            <!--对那些资源执行拦截操作-->
            <!--/**代表对所有的资源都进行拦截操作-->
            <mvc:mapping path="/**"/>
            <bean class="com.peixin.controller.MyInterceptor1"/>
        </mvc:interceptor>

        <!--第二个拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.peixin.controller.MyInterceptor2"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>